// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	background-color: black;
	padding: 40px 0px 50px 0px;

	@include small-desktop {
		padding: 41px 0 40px;
	}
	@include tablet {
		padding: 12px 0;
	}
	@include mobile {
		padding: 20px 0;
	}
	.wrapper {
		display: grid;
		grid-template-areas: 
		'logo . form'
		'button . .'
		'social nav design';
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-auto-flow: column;
		// justify-content: start;
		// align-items: start;
		// align-content: start;

		@include small-desktop {
			grid-template-columns: auto auto auto;
			grid-template-areas: 
			'logo form form'
			'button . .'
			'social nav design';
		}
		@include tablet {
			grid-template-columns: auto auto auto;
			grid-template-areas: 
			'logo . social'
			'button . social'
			'nav nav design';
		}
		@include mobile {
			grid-template-columns: 1fr;
			grid-template-areas: 
			'logo'
			'social'
			'button'
			'design'
			'nav'; 
		}

		.logo_wrapper {
			grid-area: logo;
			margin: 4px 0px 69px 0px;
			position: relative;
			width: 82px;
			height: 52px;
			font-weight: 400;
			font-size: 19.0145px;
			line-height: 120%;
			text-align: center;
			border: 1.18841px solid #FFFFFF;
			@include small-desktop {
				margin: 0px 0px 69px 0px;
			}

			@include tablet {
				margin-bottom: -57px;
			}
			@include mobile {
				border: none;
				height: auto;
				width: 100%;
				margin-bottom: 0px;
			}
		}
		.logo {
			.logo_bamboo {
				display: block;
				bottom: 0px;
				left: 16%;
				width: 7.03px;
				height: 20.98px;
				position: absolute;
				background-image: url("../../assets/images/bamboo.svg");
				background-size: contain;
				background-repeat: no-repeat;
				scale: 1.7;
				@include mobile {
					bottom: 0;
					left: 53%
				}
			}
		}

		form, button {
			grid-area: button;
			margin-left: 0;
			margin-bottom: -2px;
			height: 54px;
			@include tablet {
				margin-bottom: -24px;
			}
			@include mobile {
				display: block;
				margin: 0 auto;
			}
		}

		.nav {
			grid-area: nav;
			justify-self: end;
			align-self: end;
		}

		.navigation {
			display: flex;
			text-decoration: none;
			list-style: none;
			margin: 0px;
			transition: all 0.9s;
			@include mobile {
				justify-content: space-between;
			}
			.nav-item {
				white-space: nowrap;
				padding-right: 58px;
				@include small-desktop {
					padding-right: 45px;
				}
				@include tablet {
					padding-right: 37px;
				}
				@include mobile {
					padding-top: 30px;
					padding-right: 32px;
				}
				&:last-child {
					padding-right: 0px;
				}

			}

			.nav-link:hover  {
				transition: all 0.9s;
				color: $orange;
			}
	
			.first {
					color: $orange;
					// a:hover, .first:hover {
					// 	color: #FFFFFF;
					// }
			}
			nav.link:hover, .first:hover {
				color: #FFFFFF;
			}
		}
			
	}
	.social-nav {
		grid-area: social;
		padding-inline-start: 0px;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-content: flex-start;
		// align-items: flex-start;
		margin: 0px;
		padding-top: 36px;
		// text-align: right;
		list-style: none;

		@include small-desktop {
			padding-top: 43px;
		}
		@include  tablet{
			justify-self: end;
			padding-top: 0px;
			padding-bottom: 26px;
			margin-right: -15px;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			// align-items: center;
		}
		@include  mobile{
			justify-self: center;
			display: flex;
			padding-bottom: 30px;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			@include mobile {
				padding-bottom: 24px;
			}
		}

		li {
			margin-top: 8.5px;
			// display: flex;
			// justify-content: flex-start;
			// align-content: flex-start;
			// align-items: flex-start;
			@include tablet {
				margin-top: 14px;
				// justify-self: flex-end;
				// align-self: flex-end;
			}
			@include mobile {
				justify-self: center;
				margin-top: 32px;
				margin-right: 10px;
			}
			&:first-child {
				margin-top: 0px;
				@include tablet {
					margin-top: 0px;
				}
				@include mobile {
					margin-top: 32px;
				}
			}
			a {
				@include tablet {
					font-size: 0;
				} 
			}
		}
		.social-logo_wrapper {
			display: inline-flex;
			// justify-content: center;
			// align-content: center;
			background: rgba(196, 196, 196, 0.5);
			border-radius: 50%;
			width: 27px;
			height: 27px;
			margin-right: 17px;
			padding: 5px;

			&:hover {
				background:#4B9200;
			}

			.youtube {
				width: 18px;
			}
		}
		.social-logo {
			// position: relative;
			// margin-right: 17px;
			// &:after {
			// 	content: "";
			// 	position: absolute;
			// background: rgba(196, 196, 196, 0.5);
			// border-radius: 50%;
			// width: 26px;
			// height: 26px;
			// }

		}
	}
	.designedby {
		align-self: end;
		justify-self: end;
		color: white;
		grid-area: design;
		text-align: right;
		@include mobile {
			padding: 19px 0px 0px;
		}

		p {
			display: inline-block;
			margin-top: 8px;
			text-align: right;
			font-weight: 100;
		}
	}

	.subscripe-form {
		margin-left: 18px;
		grid-area: form;
		justify-self: end;
		@include small-desktop {
			padding-right: 0px;
			margin: 0 -20px 0 0;
			justify-self: end;
		}

		@include tablet {
			display: none;
		}

		h4 {
			color: #FFFFFF;
			margin-bottom: 14px;
		}

		.email-input {
			width: 228px;
			height: 42px;
			background-color: transparent;
			border: 1px solid orange;
			margin-right: 7px;
			color: #FFFFFF;

		}

		.email-input:invalid {
			border: 1px solid red;
		}

		.email-input:valid {
			.submit-button:hover {
				background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
			}
		}

		.submit-button:hover {
			background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
			color: white;
		}

		.submit-button {
			color: #4B9200;
			background: #F1F3F2;
			width: 129px;
			height: 42px;
			border: 1px solid #4B9200;
			border-radius: 5px;
		} 
	}
	.social-link:hover {
		color: #4B9200;
		.social-logo_wrapper  {
			background-color: #4B9200;
		}
	}
}
 

