// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
	backdrop-filter: blur(2px);
	// position: relative;
	z-index: 500;
	@include tablet {
		width: 100%;
		position: fixed;
		top: 0;
	}
	@include mobile {
		max-width: 100vw;
		position: fixed;
		top: 0;
		// left: 0;
		// right: 0;
	}
	


	.background {
		background: #000000;
		&_active {
			position: absolute;
			top: 0;
			left: 0px;
			width: 100%;
			height: 100vh;
			z-index: 499;
			background-color: rgb(0, 0, 0, 0.4);
			overflow: hidden;
			transition: 0.3s;
		}
	}

	// &:after {
	// 	content: "";
	// 	height: 780px;
	// 	width: 100%; 
	// 	top: 0;
	// 	left: 0;
	// 	position: absolute;
	// 	background: url("../../assets/images/Giant_Panda.png") no-repeat center;
	// 	background-size: cover;
	// 	z-index: -1;

	// 	@include small-desktop {
	// 		height: 584px;
	// 	}

	// 	@include tablet {
	// 		height: 373px;
	// 	}
	// 	@include mobile {
	// 		height: 186.96px;
	// 	}
	// }
}
.header {
	padding: 17px 0px 12px;
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	// position: relative;

	@include small-desktop {
		padding: 16px 0;
	}

	@include tablet {
		padding: 2.29px 0;
		display: flex;
		// grid-template-columns: 1fr min-content 
		justify-content: space-between;
	}


	.hamburger {
		display: none;
		position: relative;
		// display: none;
		width: 18px;
		height: 10px;

		@include tablet {
			margin: 0;
			display: inline-block;
			justify-self: end;
		}

		@include mobile {
			// display: none;;
		}

		.hamburger-line {
			position: absolute;
			display: inline-block;
			top: 0;
			width: 100%;
			height: 2px;
			background-color: #FFFFFF;	
			border-radius: 2px;
		}

		&:after {
			background-color: #FFFFFF;
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 2px;
		}

		&:before {
			background-color: #FFFFFF;
			position: absolute;
			content: "";
			top: calc(50% - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 2px;
		}

	}

	.logo_wrapper {
		margin: 17px 0px 12px 0px;
		position: relative;
		width: 82px;
		// height: 52px;
		font-weight: 400;
		font-size: 19.0145px;
		line-height: 120%;
		text-align: center;
		border: 1.18841px solid #FFFFFF;

		h1 {
			display: none;
		}
		@include small-desktop{
			margin: 0;
		}
		@include tablet {
			width: 46.86px;
			height: 29.03px;
			margin: 0;
			font-size: 12.2899px;
			border: none;
		}
	}
	.logo {
		display: inline-block;
		.logo_bamboo {
			display: block;
			bottom: 0px;
			left: 16%;
			width: 7.03px;
			height: 20.98px;
			position: absolute;
			background-image: url("../../assets/images/bamboo.svg");
			background-size: contain;
			background-repeat: no-repeat;
			scale: 1.7;
			@include tablet {
				scale: 1;
				bottom: -5px;
				left: 10%;
			}
		}
	}
	.designed-link {
		@include tablet {
			display: none;
		}
		a {
			white-space: nowrap;

		}
	}

	.nav_block {
		justify-self: start;
		margin: 0;
		margin-left: 63px;
		@include tablet {
			width: 100%;
		}
		.close-burger {
			position: relative;
			display: none;
			&_active {
				display: block;
				width: 100%;
				&:after {
					content: "";
					position: absolute;
					right: 15px;
					top: 10px;
					width: 14px;
					height: 14px;
						background: url("../../assets/images/x_icon.svg") no-repeat center;
						z-index: 600;
				}
			}
		}


	}
	.navigation {
		display: flex;
		text-decoration: none;
		list-style: none;
		justify-content: flex-start;
		align-content: flex-start;
		margin: 0px;

		@include tablet {
			// background-color: #FFFFFF;
			// position: absolute;
			background-color: #FFFFFF;
			position: absolute;
			flex-direction: column;
			top: 0;
			left: -100%;
			// left: 0;
			width: 100%;
			z-index: 500;
			padding-bottom: 40px;
			transition: left 0.3s;		
		}

		&_active {
			left: 0%;
		}

		.nav-link:hover  {
			color: $orange;
		}

		.first {
				color: $orange;
		}
		// nav.link:hover, .first:hover {
		// 	color: #FFFFFF;
		// }
		}

		
		.nav-item {
			padding-right: 58px;
			@include small-desktop {
				padding-right: 48px;
			}
			@include tablet {
				display: inline-block;
				margin: 15px 0px 0px 10px;
			}
			&:first-child {
				margin-bottom: 30px;
				position: relative;


			}

			.logo_wrapper {
				display: none;
				@include tablet {
					color: $orange;
					display: block;
					border: 1.18841px solid $orange;
				}
				a {
					color: $orange;
				}
			}
			a {
				margin: 0px;
				@include tablet {
					color: #000000;
				}
			}
		}
	}



