// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
	backdrop-filter: blur(2px);
	position: relative;
	z-index: 100;
	
	.fhone {
		background: #000000;
	}

	&:after {
		content: "";
		height: 465px;
		width: 100%; 
		top: 0;
		left: 0;
		position: absolute;
		background: url("../../assets/images/Giant_Panda.png") no-repeat center;
		z-index: -1;
	}
}
.header {
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	// justify-content: start;
	.logo_wrapper {
		margin: 17px 0px 12px 0px;
		position: relative;
		width: 82px;
		height: 52px;
		font-weight: 400;
		font-size: 19.0145px;
		line-height: 120%;
		text-align: center;
		border: 1.18841px solid #FFFFFF;
	}
	.logo {
		.logo_bamboo {
			display: block;
			bottom: 0px;
			left: 16%;
			width: 7.03px;
			height: 20.98px;
			position: absolute;
			background-image: url("../../assets/images/bamboo.svg");
			background-size: contain;
			background-repeat: no-repeat;
			scale: 1.7;
		}
	}
	.designed-link {
		a {
			white-space: nowrap;

		}
	}

	.nav_block {
		justify-self: start;
		margin: 0;
		margin-left: 63px;
		
	}
	.navigation {
		display: flex;
		text-decoration: none;
		list-style: none;
		justify-content: flex-start;
		align-content: flex-start;
		margin: 0px;
		.nav-link:hover  {
			color: $orange;
		}

		.first {
				color: $orange;
				// a:hover, .first:hover {
				// 	color: #FFFFFF;
				// }
		}
		nav.link:hover, .first:hover {
			color: #FFFFFF;
		}
		}

		
		.nav-item {
			padding-right: 58px;

			a {
				margin: 0px;
			}
		}
	}



