// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.oval-button {
	width: 298px;
	height: 54px;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 25px;
	border: none;
	color: white;
	transition: 0.3s;
	&:hover {
		cursor: pointer;
		background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
	}
}

.square-button {
	width: 298px;
	height: 54px;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 5px;
	border: none;
	color: white;
	transition: 0.3s;

	&:hover {
		cursor: pointer;
		background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
	}
}