// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.watch-animal {
	overflow: hidden;
	max-width: 1600px;

	@include tablet {
		margin-top: 34px;
	}
	@include tablet {
		margin-top: 34px;
	}
	&:after {
		content: "";
		height: 780px;
		width: 100%; 
		top: 0;
		left: 0;
		position: absolute;
		background: url("../../assets/images/Giant_Panda.png") no-repeat center;
		background-size: contain;
		z-index: -1;

		@include small-desktop {
			height: 584px;
			background-size: cover;
		}

		@include tablet {
			height: 373px;
		}
		@include mobile {
			background-size: cover;
			height: 221px;
		}
		@media screen and (max-width: 320px) {
			top: 17px;
			background-size: 120% 85%;
	}
}
}
.watch-wrapper {
	max-width: 100%;
	overflow: hidden;
}
.main-tittle_block {
	position: relative;
	width: 500.31px;
	margin-left: 55%;
	margin-top: 9px;
	text-align: center;
	z-index: 100;
	padding-bottom: 243px;

	@include small-desktop {
		width: 400.25px;
		margin-top: 0px;
		padding-bottom: 147px;
		margin-left: 51.4%;
	}
	@include tablet {
		width: 100%;
		margin-left: 0;
		padding-bottom: 45px;
		// margin-left: auto;
		// margin-right: 0px;
		
	}
	@include mobile {
		padding-bottom: 0
	}
	.title-wrapper {
		padding: 76px 0px 58px;
		position: relative;
		@include small-desktop {
			padding: 42.8px 0px 40.2px;
		}
		@include tablet {
			padding: 48px 0px 0px;
			width: 255.64px;
			font-size: 54.2894px;
			line-height: 75%;
			margin-left: auto;
			margin-right: 0px;
		}
		@include mobile {
			padding: 41px 0px 68.43px;
			width: 128.13px;
			font-size: 28px;
			line-height: 75%;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -14.698925%;
			width: 465px;
			height: 465px;
			background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
			border-radius: 50%;
			z-index: -1;
	
			@include small-desktop {
				width: 367px;
				height: 367px;
				top: -10px;
			}
			@include tablet {
				width: 237.6px;
				height: 237.6px;
				top: 10px;
			}
			@include mobile {
				top: 21px;
				width: 119.09px;
				height: 119.09px;
			}
		}
	}

	.main-title {
		font-style: normal;
		font-weight: 700;
		font-size: 106.496px;
		line-height: 75%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		white-space: pre-line;

		@include small-desktop {
			font-size: 85px;
			line-height: 75%;
		}
		@include tablet {
			font-size: 54.2894px;
			line-height: 75%;
		}
		@include mobile {
			font-size: 28px;
			line-height: 75%;
		}

		span {
			color: #FFEE2E;
		}

		
	}
	.watch-button {
		margin: 0 auto;

		@include tablet {
			margin-top: -6px;
			margin-left: 0;
			margin-right: auto;
			text-align: left;
		}

		button {
			@include mobile {
				display: block;
				margin: 0 auto;
			}
		}

		
	}
	.backstage-picture {
		object-fit: cover;
		// width: 455px;
		// height: 408px;
	}

}


.backstage {
	position: relative;
	padding-bottom: 175px;
	overflow: hidden;
	@include small-desktop {
		padding-bottom: 142px;
	}
	@include tablet {
		padding-top: 55px;
		padding-bottom: 80px;
	}
	@include mobile {
		padding-top: 27px;
		padding-bottom: 40px;
	}
	&:after {
		content: "";
		height: 605px;
		width: 204px; 
		top: -125px;
		right: 0;
		position: absolute;
		background: url("../../assets/images/flower_foto1.png") no-repeat center;
		z-index: -1;
		// transform: translateX(20%);
		@include small-desktop {
			display: none;
		}
		@include tablet {
			background: url("../../assets/images/flower_foto1_sm.png") no-repeat center;
			top: -5px;
			display: block;
			height: 476px;
			width: 231px; 
			right: -51px;
		}
		@include mobile {
			top: -34px;
			width: 105px;
			height: 217px;
			background-size: contain;
		}
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 86px;
		@include small-desktop {
			
			grid-column-gap: 31px;
		}
		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	picture {
		display: block;
		width: 609px;
		height: 403px;
		@include small-desktop {
			// object-fit: fill;
			padding-top: 9px;
			width: 455px;
			height: 100%;
		}
		img {
			display: block;
			width: 100%;
		}
		@include tablet {
			display: none;
		}
	}
	.backstage_description {
		@include tablet {
			padding-right: 109px;
		}
		@include mobile {
			padding-right: 0px;
		}
		
	}
	h2 {
		padding: 0 0 20px;
		@include mobile {
			padding: 0 0 10px;
		}
	}

	h4 {
		padding: 54px 0px 34px;
		@include tablet {
			padding: 28px 0 20px;
		}
		@include mobile {
			padding: 16px 0 10px;
		}
	}

	p {
		font-weight: 400;
	}
}

.animals {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-bottom: 100px;
	position: relative;
	z-index: 100;
	@include small-desktop {
		padding-bottom: 140px;
	}
	@include tablet {
		padding-bottom: 100px;
	}
	@include mobile {
		padding-bottom: 60px;
	}

	&:after {
		content: "";
		height: 275px;
		width: 368px; 
		bottom: 0;
		right: 0;
		position: absolute;
		background: url("../../assets/images/strelitzia 1.png") no-repeat center;
		background-size: contain;
		z-index: -1;
		@include small-desktop {
			width: 241px;
			height: 180px;
		}
		@include tablet {
			width: 175px;
			height: 131px;
		}
		@include mobile {
			right: -12px;
			bottom: -3px;
			width: 85px;
			height: 71px;
		}
	}

	&:before {
		content: "";
		height: 460px;
		width: 292px; 
		bottom: 0;
		left: 0;
		position: absolute;
		background: url("../../assets/images/palm_foto.png") no-repeat center;
		background-size: contain;
		z-index: -1;
		@include small-desktop {
			width: 186px;
			height: 202px;
			background: url("../../assets/images/palm_foto_sm.png") no-repeat center;
			left: 0px;
		}
		@include tablet {
			width: 134px;
			height: 202px;
			left: -27px;
		}
		@include mobile {
			background-size: contain;
			width: 105px;
			height: 72px;
		}
	}
}


.animal-slider {
	display: grid;
	max-width: 1322px;
	grid-template-columns: 62px 1198px 62px;
	align-items: center;
	justify-content: center;
	margin-bottom: 82px;
	overflow: hidden;
	@include small-desktop {
		margin-bottom: 80px;
		grid-template-columns: 1fr;
	}
	@include tablet {
		margin-bottom: 60px;
	}
	@include mobile {
		margin-bottom: 20px;
	}

	// .big {
	// 	display: none;
	// }


	.slider-button {
		display: inline-block;
		position: relative;
		justify-self: right;
		text-align: right;
		content: "";
		width: 62px;
		height: 62px;
		color: white;
		background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
		border-radius: 50%;
		// @include small-desktop {
		// 	display: none;
		// }
		// & .big {
		// 	@include small-desktop {
		// 		display: none;
		// 	}
		// }
		
		

		&:hover {
			cursor: pointer;
			background: $green;
		}
	
	}

	.prev {
		justify-self: right;
		text-align: right;
	}

	.prev:after {
		position: absolute;
		content: "";
			width: 16px;	
			height: 8px;
			top: 43.5%;
			left: 37.1%;
			color: white;
			background: #FFFFFF;
			// border: 0.3px solid #FFFFFF;
			background: url("../../assets/images/prev.svg") no-repeat center;
	}

	.next:after {
		position: absolute;
		content: "";
			width: 16px;	
			height: 8px;
			top: 43.5%;
			left: 37.1%;
			color: white;
			background: #FFFFFF;
			// border: 0.3px solid #FFFFFF;
			background: url("../../assets/images/prev.svg") no-repeat center;
			transform: rotate(180deg);
	}
	.big {
		@include small-desktop {
			display: none;
		}
	}

	.animals-blocks {
		// width: 1198px;
		// display: flex;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		// grid-template-rows: min-content min-content min-content;
		// grid-template-rows: 1fr 1fr;
		grid-column-gap: 28px;
		grid-row-gap: 20px;
		align-items: center;
		// >* {
		// 	width: 100%;
		// }
		@include small-desktop {
			grid-row-gap: 11px ;
		}
		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}
		@include mobile {
			grid-gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}

		.slider-buttons{
			display: none;
			@include small-desktop{
				display: block;
				grid-column-start: 1;
				grid-column-end: 4;

				
				}
				@include tablet {
					grid-column-start: 1;
					grid-column-end: 3;
				}
				@include mobile {
					display: none;
				}
				.small:last-child {
					@include small-desktop {
						margin-left: 166px;
					}
					@include tablet {
						margin-left: 26px;
					}
				}
			}

		// }
		.card {
			border: 1px solid $orange;
			border-radius: 5px;
			height: 423px;
			overflow: hidden;
			transition: transform 0.4s;
			@include small-desktop{
				height: 354px;
			}
			@include tablet{
				height: 332px;
			}
			&:nth-child(3n) {
				@include tablet {
					display: none;
				}
			}


			img {
				transition: transform 0.5s;
				position: relative;
				z-index: 100;

				@include small-desktop {
					width: 293px;
					height: 293px;
				}
				@include tablet {
					width: 285.24px;
					height: 285.24px;
				}
			}

			// .animal-image {
			// 	@include small-desktop {
			// 		width: 293px;
			// 		height: 293px;
			// 	}
			// }

			.animal-description {
				transition: transform 0.4s;
				z-index: -1;
				@include tablet {
					margin-top: -5px;
				}
			}

			&:hover {
				cursor: pointer;
				background:rgba(0, 0, 0, 0.25);
				

				img {
					transform: scale(1.04);
					background:rgba(0, 0, 0, 0.25);
				}

				.animal-description {
					margin-top: -50px;
					transform: translateY(50px);
					z-index: -1;
				}
			}
			.animal-name {
				text-transform: uppercase;
				display: block;
				@include tablet {
					font-size: 12.4695px;
				}
			}

			.animal-location {
				font-size: 15px;
				font-weight: 300;
				line-height: 120%;
				margin-bottom: 11px;
				@include tablet {
					font-size: 11.6901px;
				}
			}
			p {
				margin-left: 16px;
				text-align: left;
			}

			.animal-location {
				position: relative;
			}
			.banana:after {
				position: absolute;
				content: "";
					width: 33px;	
					height: 37px;
					top: -100%;
					right: 10px;
					// color: white;
					// background: #FFFFFF;
					// border: 0.3px solid #FFFFFF;
					background: url("../../assets/images/bananbamboo.svg") no-repeat center;
					@include tablet {
						width: 25.72px;
						height: 28.84px;
					}
					
			}
			.meat:after {
				position: absolute;
				content: "";
					width: 48px;	
					height: 38px;
					top: -130%;
					right: 10px;
					// color: white;
					// background: #FFFFFF;
					// border: 0.3px solid #FFFFFF;
					background: url("../../assets/images/meet-fish_icon.svg") no-repeat center;
					@include tablet {
						width: 37.41px;
						height: 29.62px;
					}
			}
		}
		// .animal-image {
		// 	@include small-desktop {
		// 		width: 293px;
		// 		height: 293px;
		// 	}
		// }
	}
}

.feed {
	padding: 69px 0px 96px;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	@include small-desktop {
		padding: 30px 30px 50px;
	  }
	  @include tablet {
		padding: 20px 0px;
	  }
	  @include mobile {
		padding: 20px 10px;
	  }

	.wrapper {
		padding: 41px 0px 59px;
		background: rgba(253, 253, 255, 0.52);
		backdrop-filter: blur(2px);
		border-radius: 20px;
		@include small-desktop {
			padding: 30px 48px 50px;
		  }
		@include tablet {
			padding: 11px 20px 61px;
		  }
		 @include mobile {
			padding: 20px 0px 40px;
		  }

		
		h2 {
			margin: 0px 0 30px;
			text-align: center;
			color: #FE9013;
			@include small-desktop {
				margin: 0px 0 21px
			}
			@include tablet {
				font-weight: 400;
				font-size: 42px;
				line-height: 120%;
				margin: 0px 0 21px
			}
			@include mobile {
				font-weight: 400;
				font-size: 24px;
				line-height: 120%;
				margin: 0px 0 10px
			}
		}

		h4, p {
			margin-left: 99px;
			font-weight: 400;
			@include small-desktop {
				margin-left: 0px;
			}
		}
		h4 {
			@include tablet {
				font-weight: 400;
				font-size: 22px;
				line-height: 120%;
			}
			@include mobile {
				font-size: 18px;
				line-height: 120%;
				text-align: center;
			}
		}
		p {
			margin-right: 198px;

			@include small-desktop {
				margin-right: 0;
			}
			@include mobile {
				display: none;
			}

			a {
				color: black;
				text-decoration: underline;
				text-decoration-color: #FE9013;


				&:hover {
					color: orange;
				}
			}
			
		}
		.bold-text {
			margin: 40px 0px 10px 99px;
			font-weight: 500;
			line-height: 130%;
			@include small-desktop {
				margin: 0;
				padding: 20px 0px 10px;
			}
			@include tablet{
				margin: 0;
				padding: 16px 0px 10px;
			}
			@include mobile {
				font-weight: 400;
				font-size: 24px;
				line-height: 120%;
			}
		}
		h3 {
			padding: 60px 0px 40px;
			text-align: center;
			@include small-desktop {
				margin: 0;
				padding: 40px;
			  }
			  @include tablet {
				padding: 27px 0px 22px;
			  }
			  @include mobile {
				padding: 20px;
			  }
		}

		.payment-way {
			display: grid;
			justify-content: center;
		
			// align-items: center;
			grid-template-columns: auto auto auto auto auto;
			grid-column-gap: 30px;
			padding-bottom: 60px;
			@include small-desktop {
				padding: 0 0 70px;
			  }
			  @include tablet {
				grid-template-columns: 1fr 1fr 1fr;
				padding: 0 0 40px;
			  }
			  @include mobile {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-gap: 20px;
				padding: 0 0 44px;
			  }

			.ways_card {
				width: 168px;
				display: relative;
				p {
					margin-left: 0px;
					margin-right: 0px;
					display: block;
				}

			}
			.ways-block {
				width: 168px;
				height: 168px;
				background: #FFFFFF;
				border-radius: 5px;
				position: relative;
				margin-bottom: 30px;


				@include tablet {
					margin-bottom: 30px;
				}
				@include mobile {
					margin-bottom: 10px;
				}
			}

			.way_arrow {
				width: 69px;
				height: 130px;
				background: url("../../assets/images/arrow.svg") no-repeat;
				align-self: center;
				@include tablet {
					display: none;
				}
			}

			.pay::after {
				position: absolute;
				content: "";
				width: 120px;
				height: 60px;
				top: 54px;
				left: 30px;
				background: url("../../assets/images/pay.svg") no-repeat center;
			}

			.tree::after {
				position: absolute;
				content: "";
				width: 85.77px;
				height: 95px;
				top: 38px;
				left: 41.23px;
				background: url("../../assets/images/tree.svg") no-repeat center;
			}
			.arrowed:before {
				
					@include tablet{
							position: absolute;
							content: "";
							width: 93.12px;
							height: 69.66px;
							top: -21%;
							left: -48%;
							background: url("../../assets/images/arrow-green.svg") no-repeat center;
					}
					@include mobile{

							top: -42%;
							left: 83%;
							transform: rotate(80deg);
					}
			}

			.monkey::after {
				position: absolute;
				content: "";
				width: 124.75px;
				height: 71.6px;
				top: 48px;
				left: 22px;
				background: url("../../assets/images/monkey.svg") no-repeat center;
			}

		}
		button {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
	
}

.testimonials {
	padding: 140px 0px 177px;
	position: relative;
	overflow: hidden;
	@include small-desktop {
		padding: 100px 0px 140px;
	  }
	  @include tablet {
		padding: 60px 0 80px ;
	  }
	  @include mobile {
		padding: 30px 0 60px;
	  }


	&:before {
		content: "";
		width: 247px;
		height: 330px;	
		bottom: 0;
		right: 0;
		position: absolute;
		background: url("../../assets/images/leav_foto.png") no-repeat center;
		transform: translateY(20%);
		background-size: contain;
		z-index: -1;
		@include small-desktop {
			scale: 1.35;
			width: 239.98px;
			height: 235.62px;
			bottom: 22px;
			right: -22px;
		}
		@include tablet {
			width: 149.88px;
			height: 147.15px;
			bottom: 0px;
		}
		@include mobile {
			width: 77.21px;
			height: 75.81px;
			bottom: -5px;
			right: -7px;
		}
		// transform: matrix(-0.86, -0.5, -0.5, 0.86, 0, 0)
	}

	h3 {
		text-align: center;
		padding-bottom: 46px;

		@include small-desktop {
			padding-bottom: 30px;
		}
		@include mobile {
			padding-bottom: 20px;
		}
	}

	.testers-reviews {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		padding-bottom: 17px;

		@include small-desktop {
			grid-template-columns: repeat(3, 1fr);
			padding-bottom: 12px;
		}
		@include tablet {
			padding-bottom: 40px;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 15px;
		}
		@include mobile {
			padding-bottom: 30px;
		}
		.testimonials-card {
			padding: 15px 15px 19px 16px;
			// height: 391px;
			overflow: hidden;
			background: #F1F3F2;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			position: relative;
			border-radius: 20px;
			
			@include small-desktop {
				padding: 12px 16px 36px 16px;
			}
			@include tablet {
				padding: 13px 29px 8px 12px;
			}
			@include mobile {
				padding: 10px 29px 12px 12px;
			}
			&:last-child {
				@include small-desktop {
					display: none;
				}
				
			}

			&:before {
				content: "";
				position: absolute;
				inset: 0;
				border-radius: 20px; 
				padding: 2px; 
				background:linear-gradient(0deg,#FEBDAB,#F3A9F8, #E0D8F0, #EAF7FE, #EAF7FE); 
				-webkit-mask: 
				   linear-gradient(#fff 0 0) content-box, 
				   linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
						mask-composite: exclude;
			}
			p {
				font-weight: 300;
				font-size: 15px;
				line-height: 120%;
			}
			.user-name {
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
			}

			.user-information {
				display: inline-block;
			}

			.user-review {
				// height: 309px;
				// overflow: hidden;
				// // display: -webkit-box;
				// // -webkit-line-clamp: 17;
				// // -webkit-box-orient: vertical;
				// // text-overflow: clip;
				white-space: pre-wrap;
				overflow: hidden;
				text-overflow: clip;
				display: -moz-box;
				-moz-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 17;
				-webkit-box-orient: vertical;
				line-clamp: 17;
				box-orient: vertical;

				@include small-desktop {
					-webkit-line-clamp: 16;
					line-clamp: 16;
					margin-left: 10px;
					
				}
				@include tablet {
					-webkit-line-clamp: 2;
					line-clamp: 2;
				}
			}

			.use-icon {
				
			}
			.user-information {
				margin: 0px 0px 11px 10px;
				@include small-desktop {
					margin: 0px 0px 12px 6px;
				}
				@include tablet {
					margin: 0px 0px 10px 10px;
				}
				@include tablet {
					margin: 0px 0px 10px 6px;
				}

			}
			
		}
	}

	.rangecontainer {
		width: 599px;
		@include small-desktop {
			width: 390px;
			padding-bottom: 20px;
		}
		@include tablet {
			display: none
		}
	  }
	  
	  .range {
		appearance: none;
		width: 100%;
		height: 8px; 
		background: #F5F7F6;
		border-radius: 5px;
		border: 1px solid $orange;
		opacity: 0.7;
		transition: opacity .2s;
		margin-bottom: 32px;
	
		&:hover {
			opacity: 1; 
		  }
		  
		  
		  &::-webkit-slider-thumb {
			-webkit-appearance: none; 
			appearance: none;
			width: 115.19px; 
			height: 6px; 
			background: #FE9013;
			cursor: pointer; 
			border-radius: 5px;
			@include small-desktop {
				width: 75px; 
			}
		  }
		  
		  &::-moz-range-thumb {
			width: 115.19px; 
			height: 6px; 
			background: #FE9013;
			cursor: pointer; 
			border-radius: 5px;
			@include small-desktop {
				width: 75px; 
			}
		  }
	  }
	  button {
		  @include tablet {
			  display: block;
			  margin: 0 auto;
			  width: 240px;
		  }
	  }
}




  