// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main-tittle_block {
	width: 500.31px;
	margin-left: 880px;
	text-align: center;
	button {
		margin: 0 auto;
	}
}

