// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 body {
	max-width: $max-width;
	min-height: 100vh;
	margin: 0 auto;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.wrapper {
  margin: 0 220px;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Basic styles for links
 */
a {
  // color: ;
  color: #fff;
  text-decoration: none;

  @include on-event {
    // color: 
    // text-decoration: underline;
  }
}
