// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
}

h1 {
	font-weight: 400;
	font-size: 19.0145px;
	line-height: 120%;
	text-align: center;
	border: 1.18841px solid #FFFFFF;
}

h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	@include mobile {
		font-size: 24px;
	}
}

h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;

	@include mobile {
		font-size: 24px;
		line-height: 120%;
	}
}

h4 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
}

p .user-review {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
}

button {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}